*{
  padding: 0;
  margin: 0;

}

.input{
  padding: 5px;
  outline: none;
  width: 90%;
  margin: 10px 0;
}

.button{
  border: 0;
  border-radius: 0px 5px 5px 0px;
  font-weight: bold;
  padding: 11.6px;
  margin-right: 5px;
}
.btn-warning{
  background-color:rgb(254, 189, 105);
  color: #424242;
}
.btn-normal{
  background-color:rgb(255, 255, 255);
  color: rgb(82, 82, 82);
}